* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  font-size: 20px;
}

header {
  position: relative;
}

#logo-pic {
  width: 1rem;
}

.page-logo {
  height: 30rem;
  background-image: url(./img/banner.webp);
  background-position: center;
  background-size: cover;
}

.page-logo a {
  margin-top: 1rem;
  padding-left: 16rem;
  font-family: 'Oleo script', sans-serif;
  color: rgb(245, 243, 160);
  font-size: 50px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5rem;
  margin-top: 1.5rem;
}

.dropdown-content li {
  float: left;
}

ul > li {
  padding-right: 3rem;
  list-style: none;
}

ul > li > a {
  text-decoration: none;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 6px;
}

#hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content > a {
  width: 3rem;
}

.hero-content > h1 {
  color: #43593a;
  font-size: 3rem;
  font-weight: 500;
}

/* ------------------------- */

li a,
.dropbtn {
  display: inline-block;
  color: #697961;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: #b4bda3;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ------------ */
.main-container {
  width: 60%;
  margin: 1rem auto;
}
.profile {
  width: 100%;
  margin: 1.5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
}

.underline {
  padding-left: 0.5rem;
  width: 1.6rem;
  height: 0.2rem;
  border-bottom: 0.2rem solid black;
}

.right > img {
  width: 1rem;
  transform: rotate(90deg);
}

h4 {
  color: #43593a;
  margin-left: 1rem;
}

.profile-img > img {
  width: 100%;
  object-fit: cover;
}
