* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  font-size: 20px;
}

header {
  position: relative;
}

.page-logo {
  height: 22rem;
  background-image: url(./img/banner.webp);
  background-position: center;
  background-size: cover;
}

.page-logo a {
  font-family: 'Oleo script', sans-serif;
  color: rgb(245, 243, 160);
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.page-logo a > img {
  margin: 1rem 0 0 8rem;
}

ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5rem;
  margin-top: 1.5rem;
}

.dropdown-content li {
  float: left;
}

ul > li {
  padding-right: 3rem;
  list-style: none;
}

ul > li > a {
  text-decoration: none;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 6px;
}

#hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content > a {
  width: 3rem;
}

.hero-content > h1 {
  color: #43593a;
  font-size: 3rem;
  font-weight: 500;
}

/* ------------------------- */

li a,
.dropbtn {
  display: inline-block;
  color: #697961;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: #b4bda3;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ------------ */
.main-container {
  width: 60%;
  margin: 1rem auto;
}
.profile {
  width: 100%;
  margin: 1.5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
}

.underline {
  border-bottom: 0.2rem solid black;
}

.right > img {
  width: 1rem;
  transform: rotate(90deg);
}

.removeStyle {
  text-decoration: none;
}

h4 {
  color: #43593a;
  margin-left: 1rem;
}

.profile-img > img {
  width: 100%;
  object-fit: cover;
}

/* ------------------------------ */

/* top 10 arrow */
#arrow-container {
  position: relative;
}

#left {
  position: absolute;
  top: 41%;
  left: -10%;
}
#right {
  position: absolute;
  top: 41%;
  right: -10%;
}
/* top 10 arrow end */
.photo-container {
  text-align: center;
}

.photo-container h1 {
  margin: 1rem;
}
.photo-container h4 {
  margin: 1rem;
}

.photo-gallery {
  display: flex;
  align-items: center;
  overflow: scroll;
}

.left > img {
  width: 1rem;
  transform: rotate(270deg);
}

.photo-card > img {
  width: 16.25rem;
}

/* share modal pop up  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

#shareBtn {
  letter-spacing: 2px;
  font-weight: 600;
  box-shadow: none;
  background-color: #eee;
  color: #7d2ae8;
  border: none;
}

.modal {
  top: 20%;
}

.btn-close {
  box-shadow: none;
  border: none;
  outline: none;
}

.modal-body .icons {
  margin: 15px 0px 20px 0px;
}

.modal-body .icons a {
  text-decoration: none;
  border: 1px solid transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
  transition: all 0.3s ease-in-out;
}

.modal-body .icons a:nth-child(1) {
  color: #1877f2;
  border-color: #b7d4fb;
}

.modal-body .icons a:nth-child(1):hover {
  background-color: #1877f2;
  color: #fff;
}

.modal-body .icons a:nth-child(2) {
  color: #46c1f6;
  border-color: #b6e7fc;
}

.modal-body .icons a:nth-child(2):hover {
  background-color: #46c1f6;
  color: #fff;
}

.modal-body .icons a:nth-child(3) {
  color: #e1306c;
  border-color: #f5bccf;
}

.modal-body .icons a:nth-child(3):hover {
  background-color: #e1306c;
  color: #fff;
}

.modal-body .icons a:nth-child(4) {
  color: #25d366;
  border-color: #bef4d2;
}

.modal-body .icons a:nth-child(4):hover {
  background-color: #25d366;
  color: #fff;
}

.modal-body .icons a:nth-child(5) {
  color: #0088cc;
  border-color: #b3e6ff;
}

.modal-body .icons a:nth-child(5):hover {
  background-color: #0088cc;
  color: #fff;
}

.modal-body .icons a:hover {
  border-color: transparent;
}

.modal-body .icons a span {
  transition: all 0.09s ease-in-out;
}

.modal-body .icons a:hover span {
  transform: scaleX(1.1);
}

.modal-body .field {
  margin: 15px 0px -5px 0px;
  height: 45px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  padding: 0 5px;
}

.modal-body .field.active {
  border-color: #7d2ae8;
}

.field span {
  width: 50px;
  font-size: 1.1rem;
}

.field.active span {
  color: #7d2ae8;
}

.field input {
  border: none;
  outline: none;
  font-size: 0.89rem;
  width: 100%;
  height: 100%;
}

.field button {
  padding: 5px 16px;
  color: #fff;
  background: #7d2ae8;
  border: 2px solid transparent;
  border-radius: 5px;
  font-weight: 500;
}

@media (max-width: 330px) {
  .modal-body .icons a {
    margin-right: 15px;
    width: 35px;
    height: 35px;
  }
}

#arrow {
  z-index: 999;
}
